<!-- navbar -->
<nav class="bg-gray-800 py-4">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between">
      <div class="flex-shrink-0">
        <a href="#" class="text-white font-bold text-xl">Railway</a>
      </div>
      <div class="hidden md:block">
        <div class="ml-10 flex items-baseline space-x-4">
          <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Home</a>
          <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Trains</a>
          <a *ngIf="!userLogin.status" href="login" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Login</a>
          <div *ngIf="userLogin.status" class="flex items-center">
            <span class="text-gray-300 mr-2">{{ userLogin.name }}</span>
            <button (click) = "onLogout()" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Logout</button>
          </div>
          <a *ngIf="!userLogin.status" href="registerUser" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Register</a>
        </div>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>